@media (min-width: 992px) {
    .navbar .dropdown-menu {
        display: block;
    }
}

.navbar {
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.box{
    background: white;
    border-radius: 8px;

    box-shadow : 0 5px 10px rgba(0, 0, 0, 0.1);
}